nav {
    background-color: #06dfe7;
    text-align: center;
  }
  
  nav a {
    color: rgb(244, 247, 247);
    padding: 10px 20px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #06dfe7;
  }
  
  
  .gallery-item {
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: center;
  }
  
  .gallery-item img {
    width: 100%;
  }
  
 
  @media (max-width: 768px) {
    .gallery-item {
      width: 100%;
    }
  }
  